{% extends 'base.html' %}


{% block content %}
    <h1>{{ post }}</h1>
    <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
    {% if post.image %}
            <p><img src="{{ post.image.url }}" alt=""></p>
        {% else %}
            <p><img src="/media/users/noimg.png" alt=""></p>
        {% endif %}
    <p>{{ post.content }}</p>
    {% with post.tags.all as tags %}
            {% if tags %}
                <div class="post_tag">
                    Теги:
                    {% for tag in tags %}
                        <a class="tag_link" href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    {% for image in post.images.all %}
        <img src="{{ image.image.url }}" alt="">
    {% endfor %}

    <div class="mt-4">
    <h3>Комментарии</h3>
    {% with comments_count=post.comments.count %}
    <p>Всего комментариев: {{ post.active_comments_count }}</p>
    {% endwith %}

    <!-- Последние 3 комментария -->
    {% for comment in post.active_comments|slice:":3" %}
    <div class="card mb-2">
        <div class="card-body">
            <h6>{{ comment.author.username }}</h6>
            <p>{{ comment.text|truncatewords:20 }}</p>
        </div>
    </div>
    {% endfor %}

    <a href="{% url 'comments:post_comments' post.slug %}" class="btn btn-outline-primary">
        Все комментарии
    </a>
    <a href="{% url 'comments:add_comment' post.slug %}" class="btn btn-primary">
        Добавить комментарий
    </a>
</div>
    <a href="{% url 'delete_post' post.slug %}">Удалить</a>
    <a href="{% url 'edit_post' post.slug %}">Редактировать</a>
{% endblock %}